#footer .presentation { margin-top: 70px;}
#footer.start_page .patrocinio_apoio { padding-top: 8px; }
#footer #sponsor { margin-left: 1px; padding: 16px 0px 0px; }
#footer .patrocinio_apoio img { padding-top: 10px; } 
