body { font: bold 16px auto Arial, Verdana, Helvetica, sans-serif; color: #7B7B7B; }

a { color: #F6AE19; }
p { font-size: 14px; }
/* Tabela */

table { font-size: 12px; width:600px; text-align: left; border-collapse: collapse; }
table th{ font-size: 13px; font-weight: normal; padding: 8px; background: #ffe7b8; border-top: 2px solid #fff; border-bottom: 1px solid #fff; color: #575757; width: 160px; }
table td{ padding: 8px; border-bottom: 1px solid #fff; color: #575757; border-top: 1px solid #fff; background: #fff5e4 }
table tbody tr:hover td{ background: #fcedd3; color: #575757;} 
table td.dia { text-align: center; font-weight: bold; }

caption {
  padding: 0 0 5px 0;
  width: 700px;   
  font: bold 20px Helvetica,"Trebuchet MS", Verdana, Arial, sans-serif;
  text-align: left;
  color:#7B7B7B;
}

form.formtastic fieldset ol li.string input {
  width: 60%
}

h2.head {display:none;}

#main dt  {float:left;width:200px;}
.participede .empty {background:none;border:0 none;}
.participede table {margin-bottom:20px;}

.subscribe_button { padding: 10px;}

.message { font-family: Arial; font-size: 12px; }
#guest p {
    font-size: 13px;
    line-height: 16px;
    font-weight: normal;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    color: #575757;
}

#guest p.guest_title {
    font-weight: bold;
}

table.activities {
    margin-bottom: 10px;
}
