body { font: bold 16px auto Arial, Verdana, Helvetica, sans-serif; color: #7B7B7B; }

a { color: #F6AE19; }
p { font-size: 14px; }
/* Tabela */

table { font-size: 12px; width:600px; text-align: left; border-collapse: collapse; }
table th{ font-size: 13px; font-weight: normal; padding: 8px; background: #ffe7b8; border-top: 2px solid #fff; border-bottom: 1px solid #fff; color: #575757; width: 160px; }
table th.horario{ width: 70px !important;}
table td{ padding: 8px; border-bottom: 1px solid #fff; color: #575757; border-top: 1px solid #fff; background: #fff5e4 }
table tbody tr:hover td{ background: #fcedd3; color: #575757;} 
table td.dia { text-align: center; font-weight: bold; }

caption {
  padding: 0 0 5px 0;
  width: 700px;   
  font: bold 20px Helvetica,"Trebuchet MS", Verdana, Arial, sans-serif;
  text-align: left;
  color:#7B7B7B;
}

form.formtastic fieldset ol li.string input {
  width: 60%
}

h2.head {display:none;}

#main dt  {float:left;width:200px;}
.participede .empty {background:none;border:0 none;}
.participede table {margin-bottom:20px;}

.subscribe_button { padding: 10px;}

.message { font-family: Arial; font-size: 12px; }
#guest p {
    font-size: 13px;
    line-height: 16px;
    font-weight: normal;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    color: #575757;
}

#guest p.guest_title {
    font-weight: bold;
}

table.activities {
    margin-bottom: 10px;
}

/* importação do css style do participe.de */

#summary strong {
font-size:2em;
}
#summary .pending {
color:#990000;
}
#summary .no-pending {
color:#0000CC;
}
#summary .reviewed {
color:#00CC00;
}
#abstract {
font-size:2em;
}
#abstract, #guest {
margin:1em;
}
#abstract form, #guest form {
display:inline;
}
#abstract input.accept, #guest input.accept {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:6px;
-moz-border-radius-bottomright:6px;
-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;
background:#00CC00 url(http://participe.de/images/button_bg.png?1266852807) repeat-x scroll left bottom;
border:1px solid green;
color:white;
cursor:pointer;
display:inline-block;
font-family:"Lucida Grande",Lucida,Arial,sans_serif;
font-size:18px;
font-weight:bold;
line-height:21.6px;
margin:0;
overflow:visible;
padding:5px 18px;
text-decoration:none;
text-shadow:0 1px 1px #004D00;
width:auto;
}
#abstract input.accept::-moz-focus-inner, #guest input.accept::-moz-focus-inner {
border:medium none;
padding:0;
}
#abstract input.accept:focus, #guest input.accept:focus {
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:medium;
}
#abstract input.accept.disabled, #abstract input.accept[disabled], #guest input.accept.disabled, #guest input.accept[disabled] {
opacity:0.7;
}
#abstract input.accept.disabled:hover, #abstract input.accept.disabled:focus, #abstract input.accept[disabled]:hover, #abstract input.accept[disabled]:focus, #guest input.accept.disabled:hover, #guest input.accept.disabled:focus, #guest input.accept[disabled]:hover, #guest input.accept[disabled]:focus {
cursor:default;
}
#abstract input.accept:active, #guest input.accept:active {
border-width:2px;
padding:4px 17px;
}
#abstract input.accept.disabled:active, #abstract input.accept[disabled], #guest input.accept.disabled:active, #guest input.accept[disabled] {
border-width:1px;
padding:5px 18px;
}
#abstract input.accept.disabled:active, #abstract input.accept.disabled:hover, #abstract input.accept[disabled]:active, #abstract input.accept[disabled]:hover, #guest input.accept.disabled:active, #guest input.accept.disabled:hover, #guest input.accept[disabled]:active, #guest input.accept[disabled]:hover {
background-color:#00CC00;
border-color:green;
color:white;
text-shadow:0 1px 1px #004D00;
}
#abstract input.accept:hover, #abstract input.accept:focus, #guest input.accept:hover, #guest input.accept:focus {
background-color:#00BD00;
border-color:#007100;
color:white;
text-shadow:0 1px 1px #003E00;
}
#abstract input.accept:active, #guest input.accept:active {
background-color:#00AD00;
border-color:#006100;
color:white;
}
#abstract div, #guest div {
margin:1em;
}
input.reject, a.reject {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:6px;
-moz-border-radius-bottomright:6px;
-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;
background:#990000 url(http://participe.de/images/button_bg.png?1266852807) repeat-x scroll left bottom;
border:1px solid #4D0000;
color:white;
cursor:pointer;
display:inline-block;
font-family:"Lucida Grande",Lucida,Arial,sans_serif;
font-size:18px;
font-weight:bold;
line-height:21.6px;
margin:0;
overflow:visible;
padding:5px 18px;
text-decoration:none;
text-shadow:0 1px 1px #190000;
width:auto;
}
input.reject::-moz-focus-inner, a.reject::-moz-focus-inner {
border:medium none;
padding:0;
}
input.reject:focus, a.reject:focus {
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:medium;
}
input.reject.disabled, input.reject[disabled], a.reject.disabled, a.reject[disabled] {
opacity:0.7;
}
input.reject.disabled:hover, input.reject.disabled:focus, input.reject[disabled]:hover, input.reject[disabled]:focus, a.reject.disabled:hover, a.reject.disabled:focus, a.reject[disabled]:hover, a.reject[disabled]:focus {
cursor:default;
}
input.reject:active, a.reject:active {
border-width:2px;
padding:4px 17px;
}
input.reject.disabled:active, input.reject[disabled], a.reject.disabled:active, a.reject[disabled] {
border-width:1px;
padding:5px 18px;
}
input.reject.disabled:active, input.reject.disabled:hover, input.reject[disabled]:active, input.reject[disabled]:hover, a.reject.disabled:active, a.reject.disabled:hover, a.reject[disabled]:active, a.reject[disabled]:hover {
background-color:#990000;
border-color:#4D0000;
color:white;
text-shadow:0 1px 1px #190000;
}
input.reject:hover, input.reject:focus, a.reject:hover, a.reject:focus {
background-color:#8A0000;
border-color:#3D0000;
color:white;
text-shadow:0 1px 1px #0A0000;
}
input.reject:active, a.reject:active {
background-color:#7A0000;
border-color:#2E0000;
color:white;
}
a.close-button {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:6px;
-moz-border-radius-bottomright:6px;
-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;
background:#999999 url(http://participe.de/images/button_bg.png?1266852807) repeat-x scroll left bottom;
border:1px solid #737373;
color:white;
cursor:pointer;
display:inline-block;
font-family:"Lucida Grande",Lucida,Arial,sans_serif;
font-size:18px;
font-weight:bold;
line-height:21.6px;
margin:0;
overflow:visible;
padding:5px 18px;
text-decoration:none;
text-shadow:0 1px 1px #595959;
width:auto;
}
a.close-button::-moz-focus-inner {
border:medium none;
padding:0;
}
a.close-button:focus {
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:medium;
}
a.close-button.disabled, a.close-button[disabled] {
opacity:0.7;
}
a.close-button.disabled:hover, a.close-button.disabled:focus, a.close-button[disabled]:hover, a.close-button[disabled]:focus {
cursor:default;
}
a.close-button:active {
border-width:2px;
padding:4px 17px;
}
a.close-button.disabled:active, a.close-button[disabled] {
border-width:1px;
padding:5px 18px;
}
a.close-button.disabled:active, a.close-button.disabled:hover, a.close-button[disabled]:active, a.close-button[disabled]:hover {
background-color:#999999;
border-color:#737373;
color:white;
text-shadow:0 1px 1px #595959;
}
a.close-button:hover, a.close-button:focus {
background-color:#919191;
border-color:#6B6B6B;
color:white;
text-shadow:0 1px 1px #515151;
}
a.close-button:active {
background-color:#8A8A8A;
border-color:#646464;
color:white;
}
label.error {
color:red;
font-style:italic;
}
textarea.error {
border:1px dotted red;
}
.hint {
color:#777777;
font-size:0.9em;
font-style:italic;
}
#attendants_list #category, #attendants_list #situation {
color:white;
font-size:1.4em;
font-weight:bold;
margin-bottom:10px;
padding:1px;
text-align:center;
}
#guests_invitation table {
border:1px solid black;
margin-bottom:20px;
}
#guests_invitation th {
border-bottom:1px solid black;
}
#guests_invitation #justification {
display:none;
}
