#header { text-align: center; height: 146px; background: url(../images/header-bg.png) repeat-x scroll 0 0; }
#header h1 a { display: block; height: 125px; background: url(../images/header-title.png) no-repeat center top; }
#sidebar ul { margin-top: 10px; list-style: none outside; }
#sidebar li { margin-left: 0; height: 21px; padding-top: 10px; background: url(../images/navigation-divider.png) no-repeat top; }
#sidebar li .last { background: url(../images/navigation-divider.png) no-repeat bottom; }
#sidebar li a { font: 14px Helvetica, Arial; color: #fec906; text-decoration: none; width: 160px; }
#content .container_slider { height: auto; }
#content .slider { background: #f6f6f6; border: 1px solid #d5d5d5; float: right;; height: 350px; width: 550px; margin-top: 8px; background:url(../images/slides/background.jpg) repeat-x;}
#content .slider_controls { width: 45px; height: 90px; float: right; position: relative; background: red; }
#content .slider .inside {height:310px;margin:10px;border:1px solid #d4d4d4;}
#content .information { height: 280px; background: url(../images/information_bg_remain_days.jpg) no-repeat right top; }
#content .photos { margin: 8px 7px 0px 8px; border: 1px solid #d5d5d5; height: 310px; }
#content .current_photo { background: blue; height: 24px; }
#logo_conag { position: absolute; width: 340; height: 600px; top: 70px; left: 50%; margin-left: -290px; margin-top: 0px;  position: absolute; z-index:9999}
.start_footer { background: url(../images/content_bg_index.jpg) no-repeat bottom; }
.internal_footer { background: url(../images/content_bg_internal.jpg) no-repeat bottom; padding-bottom: 130px; }
#footer { height: auto; background: url(../images/footer_bg_tecido.jpg) top center repeat-x; }
#footer .container { width: 940px; margin-left: auto; margin-right: auto; margin-bottom: 10px; padding: 0 10px; background: url(../images/footer_bg_rolo.png) no-repeat top left; overflow: auto; }
#footer .patrocinio_apoio { height: 85px ; margin-bottom: 10px; padding: 25px 0px 0px 0px; }
#footer .espace_patrocinio { margin-left: 180px; }
#footer .espace_promocao { margin-left: 55px; }
#footer .espace_organizacao { margin-left: 18px; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }

/*
    root element for the scrollable.
    when scrolling occurs this element stays still.
*/
.scrollable {
    /* required settings */
    position:relative;
    overflow:hidden;
    width: 528px;
    height:310px;
}

/*
    root element for scrollable items. Must be absolutely positioned
    and it should have a extremely large width to accomodate scrollable items.
    it's enough that you set the width and height for the root element and
    not for this element.
*/
.scrollable .items {
    /* this cannot be too large */
    width:20000em;
    position:absolute;
    clear:both;
}

/* single scrollable item */
.scrollable img {
    float:left;
    cursor:pointer;
    width:530px;
    height:310px;
}

/* active item */
.scrollable .active {
    z-index:9999;
    position:relative;
}
.prevPage, .nextPage {
    background-image:url(i/nav/slide.png);
    width:31px;
    height:32px;
    cursor:pointer;
    position:absolute;
    right:5px;
    z-index:2;
    text-indent:-9999em;
}
.prevPage {
    background-position:left top;
    top:5px;
}
.nextPage {
    background-position:left bottom;
    top:37px;
}
