body {line-height:1;font-size:62.5%;font-family:Arial, Helvetica, Verdana, sans-serif;color:#575757;}
h1, h2, h3, h4, h5, h6 { color:#f6ae19; }
h2 {font-weight:bold;font-size:2.719em;}
h3 {font-size:2.2em;}
p {font-size:1.1em;line-height:14px;margin-bottom:16px;}
a {color: #f6ae19 }

.guest_detail {display:none;}
#guest_list li img {margin-right: 8px;}
#fancybox-wrap, #fancybox-inner {width:600px !important;}
#fancybox-inner ul {float:left; font-size:13px; width:70%;}
#fancybox-inner #observacoes ul { font-size:15px; width:90%;}
#fancybox-inner li.name {font-size:28px; font-weight:bold; list-style:none; margin-bottom:10px; margin-left:15px;}
#fancybox-inner img.photo {float:left; border:8px solid #D4D4D4;}


/* Page Layout */
#header { text-align: center; height: 146px; background: url(../images/app/header-bg.png) repeat-x scroll 0 0; margin-bottom:8px;}
#sidebar ul { list-style: none outside; }
#sidebar li { margin-left: 0; height: 21px; padding-top: 10px; width: 145px; background: url(../images/app/navigation-divider.png) no-repeat bottom; }
#sidebar li .last { background: url(../images/app/navigation-divider.png) no-repeat bottom; }
#sidebar li.current { background-color: #fec906; }
#sidebar li a { font: 14px Helvetica, Arial; color: #fec906; text-decoration: none; width: 160px; }
#sidebar li.current a { padding-left: 7px; color: #fff; }

#content li a.mail { color: #fec906; }
#content li span { color: #575757; list-style-type: none; } 
#content ul.menu li a { font-size:14px; color: #575757; }
#content .container_slider { height: auto; }
#content .slider { background: #f6f6f6; border: 1px solid #d5d5d5; height: 350px; background:url(../images/slides/background.jpg) repeat-x;}
#content .slider .inside {height:310px;margin:10px;border:1px solid #d4d4d4;}
#content .when { color:#f6ae19; margin-top:20px; }
#content .when .date { font-weight:bold; font-size:24px; letter-spacing:-3px; }
#content .when .where { font-weight:bold; font-size:14px; }
#content .counter { background: url(../images/app/information_bg_remain_days.jpg) no-repeat right top; height: 100px; }
#content .counter .text { padding-top: 5px; }
#content .counter span { padding-left: 70px; font-family: Georgia; font-size: 14px; color: #6f3415; }
#content .counter #countdown { font-size: 28px; font-weight: bold; margin-left: 13px; }
#content .photos { margin: 8px 7px 0px 8px; border: 1px solid #d5d5d5; height: 310px; }
#content .current_photo { background: blue; height: 24px; }
#logo_conag {margin-top: -70px; z-index:3;}

#footer.start_page { background: url(../images/app/content_bg_index2.jpg) no-repeat top; margin-top: -70px;  }
#footer { background: url(../images/app/content_bg_interna2.jpg) no-repeat top; }

#footer .presentation { margin-left: 20px; width: 286px; }
#footer .presentation .title {font-weight:bold;font-size:1.6em;margin-bottom:8px;color:#f6ae19;}


#footer.internal_page .patrocinio_apoio { padding-top: 150px;}
#footer.start_page .patrocinio_apoio { padding-top: 189px;}

#footer .patrocinio_apoio { height: auto; background: url(../images/app/footer_bg_tecido.jpg) bottom center repeat-x; text-align: center;  }
#footer #sponsor { width: 940px; margin-left: 0px; margin-right: auto; margin-bottom: 10px; padding: 0 10px; background: url(../images/app/footer_bg_rolo.gif) no-repeat top left; }
#footer #sponsor { height: 85px ; margin-bottom: 10px; padding: 25px 0px 0px 0px; top: 7px; }

#footer #patrocinio img { margin-right: 10px;}
#footer #patrocinio { margin-left: 28px;}

#footer #fontaine { margin-left: 30px; }
#footer img#ideias { margin-left: -25px; }
#footer .espace_patrocinio { margin-left: 180px; }
#footer .espace_promocao { margin-left: 55px; }
#footer .espace_organizacao { margin-left: 18px; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }

/* Home page slideshow */
.slideshow { position:relative; overflow:hidden; height:310px; }
.slideshow img { float:left; cursor:pointer; width:530px; height:310px; }
.slideshow .items { width:20000em; position:absolute; clear:both; }
.slideshow .active { z-index:9999; position:relative; }
.navi { position:absolute; right:0; margin-top: 10px; margin-right: 10px; }
.navi a { width:8px; height:8px; float:left; margin:3px; background:url(../images/slides/slide_navigator.png) 0 0 no-repeat; display:block; font-size:1px; cursor:pointer; }
.navi a:hover { background-position:0 -8px; }
.navi a.active { background-position:0 -16px;}

/* Pages */
.internal_page #content p, .internal_page #content strong {font-size:13px;line-height:16px;}
.internal_page #content ol li { font-size:13px !important; }
.internal_page #content h2, .internal_page #content h3 {margin-bottom:10px;}
.internal_page #content ul {margin-bottom:20px;}
.internal_page #content ul li {list-style:inside disc;color:#fac519;line-height:16px;font-size:12px;}
.internal_page #content ul li strong {color:#fac519}
.internal_page #content li p {color:#575757; font-size:12px;}
.internal_page #logo_conag {margin-top: 0; z-index:3;}
.internal_page a {color:#333;}
.internal_page #content img.right { margin-right: 20px; margin-bottom: 20px;  }
/* Tabela */

#tabela{ font-size: 12px; text-align: left; border-collapse: collapse; }
#tabela.programacao {width:100%;}
#tabela th{ font-size: 13px; font-weight: normal; padding: 8px; background: #ffe7b8; border-top: 2px solid #fff; border-bottom: 1px solid #fff; color: #575757; }
#tabela td{ padding: 8px; border-bottom: 1px solid #fff; color: #575757; border-top: 1px solid #fff; background: #fff5e4 }
#tabela tbody tr:hover td{ background: #fcedd3; color: #575757;} 
#tabela td.dia { text-align: center; font-weight: bold; }
#tabela td.horario, #tabela td.local { width: 100px; }
#tabela td.part { width: 230px; }

/* Contato */
#contato fieldset { border: none; }
#contato fieldset label { display: block; color: #974e36; padding: 6px 0 3px 6px; font-size: 11px; }
#contato fieldset label.error { color: red; }
#contato fieldset .text { width: 400px; padding: 5px; background: #fac519; border: 0px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
#contato fieldset textarea { height: 200px; }
#contato #enviar { background: #fff; color: #974e36; border: 1px solid #fac519; font-size: 20px; font-weight: bold; cursor: pointer; }

