---
layout: default
title: Agência de turismo
---
%p
  A 
  %strong NATALTUR
  foi nomeada pela comissão organizadora como a agencia oficial do II Congresso de Gastronomia.

%p
  A nossa missão é de proporcionar ao Srs. participantes as melhores opções de viagem, com qualidade e os melhores preços vigentes.
  %br/
  Foram negociadas condições especiais para o evento com as companhias aéreas e coma rede de hotéis de Natal, as quais serão aplicadas exclusivamente para reservas solicitadas através da Nataltur.

%img(title="nataltur2" src="images/nataltur2.jpg" alt="nataltur2" width="239" height="90")

%p
  %strong Nataltur
  %br/
  Av. Deodoro, 424 Centro | Natal/RN | CEP: 59025-600
  %br/
  Fone: 84 3211.0177 | Fax: 84 3221.5956 | Loja Aeroporto: 84 3087.1366
  %br/
  Fone Plantão 24 hrs.: 84 8865.6141
