---
layout: default
title: Apresentação
permalink: apresentacao
---
%p
  A UNP, Universidade Potiguar realizará em Natal, no período de 06 a 08 de Abril de 2010, o 
  %strong II Congresso Nacional de Gastronomia - CONAG
  , evento que surgiu com a finalidade de sedimentar e aprimorar o conhecimento de profissionais e estudantes da área de gastronomia, história, hotelaria e turismo com uma abordagem multidisciplinar da gastronomia. O II CONAG terá como temas "Cultura e negócios" e terá uma programação composta de palestras, mesas redondas, oficinas, painéis, mini-cursos, workshops e apresentação de trabalhos acadêmicos em sessão de pôsteres.

