---
layout: default
title: Comissão Organizadora
permalink: comissao
---
%h3 Coordenador Geral
%p Profº Samir Heckert (UnP)
%h3 Comitê Diretivo
%p
  Profº Samir Heckert (UnP).
  Profª Annamaria Nóbrega (UnP)
  Profº Ricardo Maranhão (Universidade Anhembi-Morumbi)
  Profª Andréa Carla Mendonça de Souza (UFRPE)
%h3 Comitê Científico
%p
  Profª Ana Vládia Bandeira Moreira (UFV)
  Profª Vera Lúcia Albuquerque Ramalho (UFRPE)
  Profª Helena Simões Duarte (UFRPE)
  Profª Neide Kazue Sakugawa Shinohara (UFRPE)
  Profª Vera Pinto (UFRN)
  Profª Renata Alexandra (UFRN)
