---
layout: default
title: Exposição
---
%h2
  = page.title

%h3 Planta Baixa do Centro de Convenções
%a(href="images/exposicao1.jpg")
  %img(title="Planta Baixa do Centro de Convenções" src="images/exposicao1_mini.jpg" alt="Planta Baixa do Centro de Convenções" width="504" height="357")
clique na imagem ampliar

%h3 Planta Baixa do Pavilhão Morton Mariz
%a(href="images/exposicao2.jpg")
  %img(title="Planta Baixa do Pavilhão Morton Mariz" src="images/exposicao2_mini.jpg" alt="Planta Baixa do Pavilhão Morton Mariz" width="535" height="378")
clique na imagem ampliar

