---
layout: default
title: Apresentação
---
.slider
  .inside
    %a(class='prevPage')
    %a(class='nextPage')
    .slideshow
      .items
        - %w{slide1 1 2 3 4}.each do |slide_image|
          %img{:src => "/images/slides/#{slide_image}.jpg"}/
    .navi
.clear
.information
  %div &nbsp;
:javascript
  jQuery(document).ready(function($){
    $(".slideshow").scrollable({size: 1}).circular().navigator().autoscroll(3000);
    $("a[href^='http:']").not("[href*='localhost']").attr('target','_blank');
  });

