---
layout: default
title: Apresentação
layout_type: start_page
---
.grid_13
  #logo_conag.grid_4.alpha
    %img{ :src => "images/app/logo_conag.png", :alt => "II CONAG - Congresso Nacional de Gastronomia" }
  .grid_9.omega
    .grid_9
      .slider
        .inside
          .slideshow
            .items
              - %w{0 1 2 3 4}.each do |slide_image|
                %img{:src => "images/slides/#{slide_image}.jpg"}/
          .navi
    .grid_3.prefix_6.counter
      %span#countdown
.clear
.presentation.grid_5.prefix_5
  .title
    II CONAG | Natal/RN
  %p
    Natal, tem o prazer de sediar o II Congresso Nacional de Gastronomia. Um evento que visa sedimentar e aprimorar os conhecimentos de estudantes e profissionais das áreas de Gastronomia, Turismo e Hotelaria e será realizado no Centro de Convenções de Natal.
:javascript
  jQuery(document).ready(function($){
    $(".slideshow").scrollable({size: 1}).circular().navigator().autoscroll(3000);
    $("a[href^='http:']").not("[href*='localhost']").attr('target','_blank');
  });

