---
layout: default
title: Local do evento
---
%p
  %a(href="http://www.centroconvencoesnatal.com.br")
    %img{ :title => "centro-de-convencoes-de-natal", :src=> "images/centro-de-convencoes-de-natal1.jpg", :alt => "centro-de-convencoes-de-natal", :width => "428", :height => "286" }

%h3 Centro de Convenções de Natal

%p Projetado para sediar Simpósios, Congressos, Seminários, Reuniões, Eventos Artísticos, Feiras e Exposições, o Centro de Convenções se encontra próximo a um complexo hoteleiro dos mais modernos, com bares, restaurantes, praias, shoppings, ciclovia, agências de turismo, locadora e uma infinidade de serviços.

%ul
  %li
    %span Área Total: 68.805 m²
  %li
    %span Área Construída: 12.739 m²
  %li
    %span Área Externa: 57.535 m²
  %li
    %span Estacionamento: 6.997 m²

%h3 Localização
%p Na Via Costeira, dentro do Parque da Dunas, onde são quase 10km ligando a praia de Areia Preta, no Centro, a Ponta Negra, ao sul está o Centro de Convenções. Localizado numa área privilegiada da cidade de Natal, margeado por duas vias de integração.
