---
layout: default
title: Início
layout_type: start_page
---
#logo_conag.grid_4.alpha
  %img{ :src => "images/app/logo_conag.png", :alt => "II CONAG - Congresso Nacional de Gastronomia" }
.grid_9.omega
  .slider
    .inside
      .slideshow
        .items
          - 6.times do |slide_image|
            %img{:src => "images/slides/#{slide_image}.jpg"}/
      .navi
  .when.grid_4.prefix_1.alpha
    %span.date 06 a 08 de abril de 2010
    %span.where Centro de Convenções de Natal
  .counter.grid_4.omega
    .text
      %span Faltam
    .counttext
      %span#countdown 0 Dias
      %script{ :src => 'js/counter.js', :type => 'text/javascript' }
.clear
