---
layout: default
title: Parceiros
---

%p
  Para maiores informações sobre patrocínio, solicite o nosso plano de marketing pelo email: 
  %strong
    %a(href='mailto:conag2010@ideiaseventos.com.br')
      conagnatal2010@ideiaseventos.com.br
  ou entre em
  %strong
    %a(href="/contato")
      contato conosco
  \.

%h3 Promoção e Realização
%a(href="#")
  %img(title="Samir Heckert - Chef de Cozinha" src="images/samir.jpg" alt="Samir Heckert - Chef de Cozinha" height="85px")
%p
%h3 Organização
%a(href="http://www.ideiaseventos.com.br")
  %img(title="Idéias Eventos" src="images/logo-ideias.jpg" alt="Ideias Eventos" height="80px")
%p
%h3 Patrocinadores

%p
  %a(href="http://www.barreiraroxa.com.br/")
    %img.right(title="Barreira Roxa - Hotel-Escola Senac" src="images/logo-barreira.jpg" alt="Barreira Roxa - Hotel-Escola Senac" height="90px")

  %a(href="http://www.camaroes.com.br/")
    %img(title="Camarões Restaurante" src="images/logo-camaroes.gif" alt="Camarões Restaurante" height="90px")

%p
  %a(href="http://www.natal.rn.gov.br/")
    %img(title="Prefeitura do Natal" src="images/logo-prefeitura.png" alt="Prefeitura do Natal")

  %a(href="http://www.brasil-natal.com.br/")
    %img(title="Empresa potiguar de promoção turística" src="images/logo-emprotur.png" alt="Empresa potiguar de promoção turística" height="90px")

  %a(href="http://www.rn.gov.br/")
    %img(title="Governo de Todos - RN" src="images/logo-governo_rn.png" alt="Governo de Todos - RN" height="90px")

