---
layout: default
title: Comissão Organizadora
---
%h3 Presidente
%p
  %ul
    %li
      %span Profº Samir Heckert
      %p
        Vice-diretor do curso de Gastronomia da UnP
        %br
        %span Consultor na área de Gastronomia

%h3 Comissão de Gestão
%p
  %ul
    %li
      %span Wilton Nobre
    %li
      %span Ester Carvalho 
    %li
      %span Marcela Martins
    %li
      %span Mildred Negreiros
    %li
      %span Pedro Régis
