---
layout: default
title: Apresentação
---
%p
  A UNP, Universidade Potiguar realizará em Natal, no período de 06 a 08 de Abril de 2010, o 
  %strong II Congresso Nacional de Gastronomia - CONAG
  , evento que surgiu com a finalidade de sedimentar e aprimorar o conhecimento de profissionais e estudantes da área de gastronomia, história, hotelaria e turismo com uma abordagem multidisciplinar da gastronomia. O II CONAG terá como Tema: "Cultura e negócios" e uma programação composta de palestras, mesas redondas, oficinas, painéis e mini-cursos.

