---
layout: default
title: Local do evento
---
%p
%h3 Unidade Roberto Freire da Universidade Potiguar

%p O auditório recém construído e projetado para eventos com até 1000 pessoas. As cozinhas contam com tudo de mais moderno que existe.

%h3 Localização
%p A Unidade Roberto Freire da UnP está localizada na Av. Roberto Freire, que é a entrada da praia de Ponta Negra, cartão postal da cidade do Natal. 
