---
layout: default
title: Parceiros
---

%p
  Para maiores informações sobre patrocínio, solicite o nosso plano de marketing pelo email: 
  %strong
    %a(href='mailto:conag2010@ideiaseventos.com.br')
      conagnatal2010@ideiaseventos.com.br
  ou entre em
  %strong
    %a(href="http://conagnatal2010.blogs.participe.de/contato/")
      contato conosco
  \.

%h3 Promoção e Realização
%a(href="http://www.unp.br")
  %img(title="Logos UNP" src="images/logo-unp.jpg" alt="Logos UNP")
%p
%h3 Organização
%a(href="http://www.ideiaseventos.com.br")
  %img(title="Ideias Eventos" src="images/logo-ideias.jpg" alt="Ideias Eventos")
