---
layout: default
title: Local do evento
---
%p
%h3 Praiamar Hotel
%p O Praiamar Hotel & Convention está localizado numa das mais belas praias do nordeste brasileiro, Ponta Negra, uma tranquila enseada de águas mornas contemplada pela beleza do morro do Careca, o cartão postal mais conhecido de Natal.
%p Endereço: Rua Francisco Gurdel, 33 - Ponta Negra - Natal/RN.
%p Telefone: +55 84 3219-2230
%p
  Mais informações:
  %a(href='http://www.praiamarnatal.com.br/' target='_blank') http://www.praiamarnatal.com.br/
%h4 Mapa
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.br/maps?f=q&amp;hl=pt-BR&amp;geocode=&amp;q=Praiamar+Natal+Hotel+e+Convention%E2%80%8E&amp;sll=-5.879015,-35.212727&amp;sspn=0.116116,0.154495&amp;ie=UTF8&amp;cid=-5872611,-35178362,2508227245995114962&amp;source=embed&amp;hq=Praiamar+Natal+Hotel+e+Convention%E2%80%8E&amp;hnear=&amp;ll=-5.860146,-35.174189&amp;spn=0.05601,0.077248&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com.br/maps?f=q&amp;hl=pt-BR&amp;geocode=&amp;q=Praiamar+Natal+Hotel+e+Convention%E2%80%8E&amp;sll=-5.879015,-35.212727&amp;sspn=0.116116,0.154495&amp;ie=UTF8&amp;cid=-5872611,-35178362,2508227245995114962&amp;source=embed&amp;hq=Praiamar+Natal+Hotel+e+Convention%E2%80%8E&amp;hnear=&amp;ll=-5.860146,-35.174189&amp;spn=0.05601,0.077248&amp;iwloc=A" style="color:#0000FF;text-align:left">Exibir mapa ampliado</a></small>
