---
layout: default
title: Parceiros
---

%p
  Para maiores informações sobre patrocínio, veja o nosso
  %strong
    %a(title="II Conag - Plano de MKT " href='pdfs/II_Conag.pdf')
      plano comercial
  e entre em
  %strong
    %a(href="http://conagnatal2010.blogs.participe.de/contato/")
      contato conosco
  \.

%h3 Promoção e Realização
%a(href="http://www.unp.br")
  %img(title="Logos UNP" src="images/logo-unp.jpg" alt="Logos UNP")
%p
%h3 Organização
%a(href="http://www.ideiaseventos.com.br")
  %img(title="Ideias Eventos" src="images/logo-ideias.jpg" alt="Ideias Eventos")
