---
layout: default
title: Programação
---

%table#tabela
  %tr
    %td.dia{ :colspan => '3' } 06/04 - Terça-Feira (Tarde)
  %tr
    %th{ :scope => "col"} Horário
    %th{ :scope => "col", :colspan => '2' } Auditório
  %tr
    %td 11:00-13:00
    %td{ :colspan => '2' } Credenciamento de congressistas, inscrição e entrega de material para cursos pré-congresso.
  %tr
    %td.hora 13:00-17:00
    %td{ :colspan => '2' } Cursos pré-congresso
  %tr
    %td 14:00-18:00
    %td{ :colspan => '2' } Credenciamento, inscrição de congressistas e entrega de material.
  %tr
    %td 20:00-21:00
    %td{ :colspan => '2' } Sessão solene de abertura
  %tr
    %td 21:00-24:00
    %td{ :colspan => '2' } Coquetel de boas-vindas 
  %tr
    %td.dia{ :colspan => '3' } 07/04 - Quarta-Feira (Manhã) 
  %tr
    %th{ :scope => "col"}  Horário
    %th{ :scope => "col"}  Cozinha Show A
    %th{ :scope => "col"}  Cozinha Show B
  %tr
    %td 09:00-12:00
    %td Oficina de Gastronomia Latinoamericana
    %td Oficina Brasileira: "Valorização do Regionalismo"
  %tr
    %th{ :scope => "col"}  Horário
    %th{ :scope => "col"}  Auditório X
    %th{ :scope => "col"}  Auditório Y
  %tr
    %td 08:30-08:45
    %td{ :colspan => '2' } Abertura Oficial
  %tr
    %td 08:45-09:30
    %td Palestra: "Alimentação como símbolo cultural e social".
    %td Palestra: "Política de financiamento para bares, restaurantes e hotéis"
  %tr
    %td 09:40-10:40
    %td Mesa Redonda: "Turismo Gastronômico como um veículo para o desenvolvimento do NE"
    %td Palestra: "Casa Cheia, bolso vazio. O que há de errado?"
  %tr
    %td 10:50-12:30
    %td -
    %td Mesa Redonda: "Ano da França no Brasil - História da gastromia francesa e sua influência no Brasil"
  %tr
    %td.dia{ :colspan => '3' } 07/04 - Quarta-Feira (Tarde) 
  %tr
    %th{ :scope => "col"}  Horário
    %th{ :scope => "col"}  Cozinha Experimental A
    %th{ :scope => "col"}  Cozinha Experimental B
  %tr
    %td 14:00-17:00
    %td Oficina: "Goumet Nordestino - Utilização de técnicas francesas na preparação de quitutes da região do Seridó".
    %td Oficina Nordestina: "Elaboração de tapioca e de queijo de manteiga artesanal".
  %tr
    %th{ :scope => "col"}  Horário
    %th{ :scope => "col", :colspan => "2"}  Espaço Z
  %tr
    %td 13:30-14:30
    %td{ :colspan => "2"} Exposição de pôsteres
  %tr
    %th{ :scope => "col"}  Horário
    %th{ :scope => "col"}  Auditório X 
    %th{ :scope => "col"}  Auditório Y
  %tr
    %td 14:30-15:30
    %td Mesa Redonda: "O poder da crítica gastronômica".
    %td Palestra: "Histórias das cozinha brasilerira (A história de pratos importantes do país)".
  %tr
    %td 15:45-16:45
    %td Oficina: "Gastronomia e ciência, qual o caminho a seguir".
    %td Palestra: "Da alimentação à gastronomia".
  %tr
    %td 17:00-18:40
    %td Oficina: -
    %td Mesa Redonda: "Os 4 P's da administração: Ponto, Promoção, Produto e Preço".
  %tr
    %td.dia{ :colspan => '3' } 08/04 - Quinta-Feira (Manhã) 
  %tr
    %th{ :scope => "col"}  Horário
    %th{ :scope => "col"}  Cozinha Experimental A
    %th{ :scope => "col"}  Cozinha Experimental B
  %tr
    %td 9:00-12:00
    %td Oficina: "Ano da França no Brasil - Dicas, segredos e receitas brasileiras com influência francesa".
    %td Oficina: "Peixes do mar - Dicas, segredos e Receitas".
  %tr
    %th{ :scope => "col"}  Horário
    %th{ :scope => "col", :colspan => "2"}  Espaço Z
  %tr
    %td 13:30-14:30
    %td{ :colspan => "2"} Exposição de pôsteres
  %tr
    %th{ :scope => "col"}  Horário
    %th{ :scope => "col"}  Auditório X 
    %th{ :scope => "col"}  Auditório Y
  %tr
    %td 08:30-09:30
    %td -
    %td -
  %tr
    %td 09:40-11:20
    %td Palestra: "Importância dos concursos de gastronomia e a participação do Brasil".
    %td Palestra: "Pontencial do RN para o desenvolvimento do turismo gastronômico".
  %tr
    %td 11:30-12:00
    %td -
    %td 
  %tr
    %td.dia{ :colspan => '3' } 08/04 - Quinta-Feira (Tarde) 
  %tr
    %th{ :scope => "col"}  Horário
    %th{ :scope => "col"}  Cozinha Experimental A
    %th{ :scope => "col"}  Cozinha Experimental B
  %tr
    %td 14:00-17:00
    %td Oficina brasileira: "Cozinha Criativa".
    %td Oficina: "Valorização de ingredientes marginalizados". 
  %tr
    %th{ :scope => "col"}  Horário
    %th{ :scope => "col"}  Auditório X 
    %th{ :scope => "col"}  Auditório Y
  %tr
    %td 14:30-15:30
    %td "Mercados e Feiras: Uma cozinha feita a partir dos ingredientes nacionais". 
    %td Palestra: "Gastronomia Orgânica: Oportunidade de negócios"
  %tr
    %td 15:45-16:45
    %td Apresentação de "cases": "Camarões e Ostras gigantes"
    %td - 
  %tr
    %td 17:00-18:30
    %td
      Mesa Redonda: "A formação do profissional da gastronomia: Gastrônomo ou
      %em Chef
      ?"
    %td Mesa Redonda: "Gastronomia como produto turístico".
