---
layout: default
title: Programação
---

%p * As oficinas terão vagas limitadas: 60 pessoas.
%table#tabela
  %tr
    %td.dia{ :colspan => '3' } 06/04 - Terça-Feira
  %tr
    %th{ :scope => "col"} Horário
    %th{ :scope => "col", :colspan => '2' } Auditório
  %tr
    %td.horario 14:00-19:30
    %td{ :colspan => '2' } Credenciamento, inscrição de congressistas e entrega de material.
  %tr
    %td.horario 19:30-20:00
    %td{ :colspan => '2' } Sessão solene de abertura.
  %tr
    %td.horario 20:00-21:00
    %td{ :colspan => '2'} 
      %strong Conferência:
      Mercados Feiras: Uma Cozinha Feita a Partir dos Ingredientes Nacionais.
      %br
      %strong Conferencista:
      Rodrigo Oliveira – Restaurante Mocotó/ SP
  %tr
    %td.horario 21:00-22:00
    %td{ :colspan => '2' } Coquetel de boas-vindas.
  %tr
    %td.horario 22:00
    %td{ :colspan => '2'} Encerramento das atividades do dia.
  %tr
    %td.dia{ :colspan => '3' } 07/04 - Quarta-Feira 
  %tr
    %th{ :scope => "col"}  Horário
    %th{ :scope => "col"}  Oficina - A
    %th{ :scope => "col"}  Oficina - B
  %tr
    %td.horario 08:00-12:20
    %td.part
      %strong Tema:
      Gastronomia e Ciência: A cozinha de autor e suas novas técnicas. 
      %br
      %strong Ministrante:
      Chef Gabriel Vidolin /SP
    %td.part
      %strong Tema:
      Valorização do regionalismo.
      %br
      %strong Ministrante:
      Beth Beltrão /MG
  %tr
    %th{ :scope => "col"}  Horário
    %th{ :scope => "col", :colspan => '2' } Atividades
  %tr
    %td.horario 08:00-09:00
    %td{ :colspan => '2' }
      %strong Palestra: 
      História da Cozinha Brasileira. 
      %br
      %strong Palestrante:
      Prof. Ricardo Maranhão /SP
  %tr
    %td.horario 09:00-10:00
    %td{ :colspan => '2' }
      %strong Palestra: 
      A Importância de uma Entidade Representativa de Classe para Consolidação do Setor de Alimentação Fora do Lar. 
      %br
      %strong Palestrante:
      Paulo Solmuchi /MG
  %tr
    %td.horario 10:00-10:20
    %td{ :colspan => '2' } 
      %strong Intervalo
  %tr
    %td.horario 10:20-11:20
    %td{ :colspan => '2' }
      %strong Palestra: 
      Desmistificação Sobre o Vinho: Tradição X Inovação.  
      %br
      %strong Palestrante:
      Gilvan Passos /RN
  %tr
    %td.horario 11:20-12:20
    %td{ :colspan => '2' }
      %strong Palestra: 
      A Arca do Gosto Brasil.
      %br
      %strong Palestrante:
      Roberta Marins de Sá /DF
  %tr
    %td.horario 12:20-14:00
    %td{ :colspan => '2' } 
      %strong Intervalo para almoço
  %tr
    %th{ :scope => "col"}  Horário
    %th{ :scope => "col"}  Oficina - A
    %th{ :scope => "col"}  Oficina - B
    %tr
      %td.horario 14:00-17:00
      %td.part
        %strong Tema:
        Panificação clássica brasileira.
        %br
        %strong Ministrante:
        Chef Rogério Shimura /SP
      %td.part
        %strong Tema:
        Confeitaria Clássica.
        %br
        %strong Ministrante:
        Chef Rafael Barros /SP
    %tr
      %th{ :scope => "col"}  Horário
      %th{ :scope => "col", :colspan => '2' } Atividades
    %tr
      %td.horario 14:00-15:00
      %td{ :colspan => '2' }
        %strong Palestra:
        Higiene de Alimentos e sua Necessidade – Lançamento do Livro.
        %br
        %strong Palestrante:
        Cláudio Lima /CE
    %tr
      %td.horario 15:00-16:00
      %td{ :colspan => '2' }
        %strong Palestra:
        Identidade - as raizes são os outros: o caso do macarrão
        %br
        %strong Palestrante:
        Michele Maisto /RN
    %tr
      %td.horario 16:00-16:20
      %td{ :colspan => '2' } 
        %strong Intervalo
    %tr
      %td.horario 16:20-17:20
      %td{ :colspan => '2' }
        %strong Palestra:
        Novos Temperos Brasileiros. 
        %br
        %strong Palestrante:
        Neide Rigo
    %tr
      %td.dia{ :colspan => '3' } 08/04 – Quinta-feira  
    %tr
      %th{ :scope => "col"}  Horário
      %th{ :scope => "col"}  Oficina - A
      %th{ :scope => "col"}  Oficina - B
    %tr
      %td.horario 08:00-12:20
      %td.part
        %strong Tema:
        O Cacau é Nosso.
        %br
        %strong Ministrante:
        Fábio Sicília /PA
      %td.part
        %strong Tema:
        Gastronomia Brasileira.
        %br
        %strong Ministrante:
        Chef Perin /SP
    %tr
      %th{ :scope => "col"}  Horário
      %th{ :scope => "col", :colspan => '2' } Atividades
    %tr
      %td.horario 08:00-09:00
      %td{ :colspan => '2' }
        %strong Palestra: 
        Formação da Gastronomia Papa-Jerimum. 
        %br
        %strong Palestrante:
        Jardelino Lucena /RN
    %tr
      %td.horario 09:00-10:00
      %td{ :colspan => '2' }
        %strong Palestra: 
        Importância dos Concursos Internacionais de Gastronomia e a Participação do Brasil. 
        %br
        %strong Palestrante:
        Rosa Moraes /SP
    %tr
      %td.horario 10:00-10:20
      %td{ :colspan => '2' } 
        %strong Intervalo
    %tr
      %td.horario 10:20-11:20
      %td{ :colspan => '2' }
        %strong Experiência: 
        Eu Participei de um Concurso Internacional. 
        %br
        %strong Palestrante:
        Rafael Barros /SP
    %tr
      %td.horario 11:20-12:20
      %td{ :colspan => '2' }
        %strong Mesa Redonda: 
        A Cozinha Brasileira – Nacional ou Regional?
        %br
        %strong Participantes:
        %br
        %ul
          %li
            %span Prof. Ricardo Maranhão /SP
          %li
            %span Celso Cruz /RN
          %li
            %span Chef Lucia Soares /SP
    %tr
      %td.horario 12:20-14:00
      %td{ :colspan => '2' } 
        %strong Intervalo para almoço
    %tr
      %th{ :scope => "col"}  Horário
      %th{ :scope => "col"}  Oficina - A
      %th{ :scope => "col"}  Oficina - B
    %tr
      %td.horario 14:00-17:00
      %td.part
        %strong Tema:
        Gastronomia Hospitalar.
        %br
        %strong Ministrante:
        Juliano Gonçalves (SENAC NATAL)
      %td.part
        %strong Tema:
        Confeitaria Brasileira.
        %br
        %strong Ministrante:
        Chef Lúcia Soares /SP
    %tr
      %th{ :scope => "col"}  Horário
      %th{ :scope => "col", :colspan => '2' } Atividades
    %tr
      %td.horario 14:00-15:00
      %td{ :colspan => '2' }
        %strong Palestra:
        Mandioca: A Rainha do Brasil.
        %br
        %strong Palestrante:
        Tereza Corção /RJ
    %tr
      %td.horario 15:00-16:00
      %td{ :colspan => '2' }
        %strong Mesa Redonda:
        A Formação do Profissional da Gastronomia: Gastrônomo, Chef? 
        %br
        %strong Palestrante:
        %br
        %ul
          %li
            %span Profª Rosa Morais /SP
    %tr
      %td.horario 16:00-16:20
      %td{ :colspan => '2' } 
        %strong Intervalo
    %tr
      %td.horario 16:20-17:20
      %td{ :colspan => '2' }
        %strong Mesa Redonda:
        Eventos – Experiências e Dificuldades. 
        %br
        %strong Participantes:
        %br
        %ul
          %li
            %span Simone Muniz – Idealizadora do Nordeste Culinária /PE
          %li
            %span Celso Cruz /RN
    %tr
      %td.horario 17:20-18:20
      %td{ :colspan => '2' }
        %strong Palestra:
        O Desafio de Implantar Qualificação Profissional em Segurança de Alimentos no Brasil. 
        %br
        %strong Palestrante:
        %br
        %ul
          %li
            %span Representante da Covisa/SMS Natal /RN
          %li
            %span Paulo Solmichi /MG
