---
layout: default
title: Comissão Organizadora
---
%h3 Presidente
%p
  %ul
    %li
      %span Profº Samir Heckert
      %p
        Vice-diretor do curso de Gastronomia da UnP
        %br
        %span Consultor na área de Gastronomia
%h3 Vice-Presidente
%p
  %ul
    %li
      %span Profª Annamaria Nóbrega 
      %p
        Diretora do curso de Gastronomia da UnP
        %br
        %span Nutricionista Especialista em Controle de Qualidade do Alimento 
%h3 Comissão Científica
%p
  %ul
    %li
      %span Dra. Priscila/RN
      %p Coordenadora
    %li
      %span Dra. Ana Vládia Bandeira Moreira (UFV)
    %li
      %span Mestre Andréa Carla Mendonça de Souza (UFRPE)
