---
layout: default
title: Comissão Organizadora
---
%h3 Coordenador Geral
%p
  %ul
    %li
      %span Profº Samir Heckert (UnP)
%h3 Comitê Diretivo
%p
  %ul
    %li
      %span Profº Samir Heckert (UnP).
    %li
      %span Profª Annamaria Nóbrega (UnP)
    %li
      %span Profº Ricardo Maranhão (Universidade Anhembi-Morumbi)
    %li
      %span Profª Andréa Carla Mendonça de Souza (UFRPE)
%h3 Comitê Científico
%p
  %ul
    %li
      %span Profª Ana Vládia Bandeira Moreira (UFV)
    %li
      %span Profª Vera Lúcia Albuquerque Ramalho (UFRPE)
    %li
      %span Profª Helena Simões Duarte (UFRPE)
    %li
      %span Profª Neide Kazue Sakugawa Shinohara (UFRPE)
    %li
      %span Profª Vera Pinto (UFRN)
    %li
      %span Profª Renata Alexandra (UFRN)
