---
layout: default
title: Inscrição
layout_type: internal_page
javascript_imports: jquery.fancybox-1.3.1.pack subscription_alert
---
%ul.menu
  %li
    %a{ :href => '#inscricao'}
      Inscrição
  %li             
    %a{ :href => '#acesso'}
      Acesso aos inscritos
  %li
    %a{ :href => '#procedimentos'}
      Procedimentos para inscrição
  %li
    %a{ :href => '#empenho'}
      Procedimentos de inscrição via empenho
  %li
    %a{ :href => '#desistencia'}
      Desistência e Reembolso
%hr

%h3{ :id => "inscricao" } Inscrição
%iframe{:src => "http://participe.de/events/ii-conag-congresso-nacional-de-gastronomia.iframe?css=http://conagnatal2010.eventos.participe.de/css/participede.css", :width => '700px', :height => '350px', :scrolling => 'no', :frameborder => "0"}

%a(href='#observacoes' id='observacao_link' style='display:none;')
%div#observacoes
  %h3 Observações importantes
  %ul
    %li
      %span
        As inscrições foram prorrogadas até segunda-feira - 05/04/2010.
    %li
      %span
        O pagamento poderá ser efetuado através de cartão de crédito ou no local do evento em espécie.

%h3{ :id => "procedimentos"} Procedimentos para inscrição
%div
  %ul
    %li
      %span As inscrições deverão ser efetuadas, através deste site até 29/03/10. Após esta data, somente no local do evento;
    %li
      %span Estudante de Graduação, Estudante de Pós-Graduação deverão enviar declaração de estudante para o e-mail:
      %a.mail{ :href => "mailto:conag2010@ideiaseventos.com.br" }
        %strong conag2010@ideiaseventos.com.br
    %li
      %span O pagamento de sua inscrição deverá ser feito por boleto bancário, emitidos no site, ou por cartões de crédito.
    %li
      %span As diferentes categorias e datas de pagamento devem ser observadas!
    %li
      %span Pagamento via empenho, considerar valores do dia do evento;
    %li
      %span As inscrições realizadas no dia do evento estarão condicionadas à disponibilidade de vagas.
      %p
      %p * O não envio/apresentação da declaração implicará no cancelamento da incrição como estudante e será cobrado a diferença sobre o valor da taxa como “profissional” correspondente ao valor no dia do evento.  

%h3{ :id => "empenho"} Procedimento de inscrição via empenho
%div
  %ol
    %li
      O empenho deverá conter as seguintes informações:
      %ul
        %li
          %span Nome completo do profissional que irá participar do evento;
        %li
          %span Dados da instituição pagante (nome da instituição, CNPJ, Inscrição Estadual ou Municipal, endereço, bairro, cidade, Estado e CEP);
        %li
          %span No documento é importante conter o nome, telefone e e-mail do responsável pela emissão do empenho, para contato e envio da nota fiscal via correio;
    %li
      O Empenho deverá ser enviado para a Secretaria Executiva do evento de uma das seguintes formas:
      %ul
        %li 
          %span Pelo email:
          %a.mail{ :href => "mailto:conag2010@ideiaseventos.com.br" }
            %strong conag2010@ideiaseventos.com.br
        %li 
          %span Por fax: (84) 3211-4358
        %li 
          %span Pelo correio no endereço da Idéias Eventos e Promoções LTDA.
    %li
      É importante lembrar que o empenho deverá ser enviado até o dia 25 de Março, para que as inscrições sejam liberadas no dia do evento. O valor das inscrições via empenho corresponde ao valor do dia do evento 06/04/2010.
    %br
    %li 
      Dados para o empenho:
      %p
        %strong Favorecido:
        II CONAG e Pomoções
        %br
        %strong CNPJ:
        00720443/0001-57
        %br
        %strong Endereço:
        Rua Desembargador Virgílio Dantas, 140 - Tirol, Natal/RN, CEP: 59020-560
        %br
        %strong Telefone:
        (84) 3211-4358
        %br
        %strong Responsável:
        Rubenita Godoy
    %li
      Dados bancários:
      %p
        %strong Banco:
        Banco do Brasil (001)
        %br
        %strong Agência:
        3293-X
        %br
        %strong Conta Corrente:
        35962-9
        %br
        %strong Cedente:
        II CONAG Promoções
    %li 
      O empenho será considerado documento definitivo para inscrição do profissional no evento. Qualquer cancelamento, solicitamos que seja comunicado à Secretaria Executiva até o segundo dia do evento, dia 07 de Abril, antes da elaboração da nota fiscal.

%h3{ :id => "desistencia" } Desistência e Reembolso
%p
  Em caso de comunicação e justificativa formal de desistência de participação, a devolução de valores pagos será efetuada até 45 dias após a realização do evento. As devoluções seguirão os seguintes critérios:

  As devoluções seguirão os seguintes critérios:
%table#tabela
  %tr
    %th{:scope => "col"}  Justificativa
    %th{:scope => "col"}  Prazo para Solicitação
    %th{:scope => "col"}  Valor a ser reembolsado
  %tr
    %td Trabalho não aprovado
    %td até 10 (dez) dias após a comunicação sobre o resultado da avaliação 
    %td
      %strong 80% do valor pago
  %tr
    %td Sem justificativa 
    %td até 30 (trinta) dias antes do início do congresso 
    %td
      %strong 50% do valor pago 
  %tr
    %td Problemas de saúde 
    %td Sem prazo limite 
    %td
      %strong 80% do valor pago 
  %tr
    %td Duplicidade de pagamento 
    %td Sem prazo limite 
    %td
      %strong 100% do valor pago 
%h3{ :id => "acesso"} Acesso aos inscritos
%iframe{:src => "http://participe.de/events/ii-conag-congresso-nacional-de-gastronomia/attendants/find.iframe?css=http://conagnatal2010.eventos.participe.de/css/participede.css", :width => '100%', :height => '350px', :scrolling => 'no', :frameborder => "0"}
