---
layout: default
title: Parceiros
---

%p
  Para maiores informações sobre patrocínio, veja o nosso
  %strong
    %a(title="II Conag - Plano de MKT " href='http://conagnatal2010.blogs.participe.de/files/2009/11/II_Conag.pdf')
      plano comercial
  e entre em
  %strong
    %a(href="http://conagnatal2010.blogs.participe.de/contato/")
      contato conosco
  \.

%h3 Promoção e Realização
%a(href="http://www.unp.br")
  %img(title="Logos UNP" src="http://conagnatal2010.blogs.participe.de/wp-content/files/2009/11/Logos-UNP1.jpg" alt="Logos UNP" width="169" height="204")

%h3 Organização
%a(href="http://conagnatal2010.blogs.participe.de/wp-admin/www.ideiaseventos.com.br")
  %img(title="Ideias Eventos" src="http://conagnatal2010.blogs.participe.de/wp-content/files/2009/11/timbrado1.jpg" alt="Ideias Eventos" width="160" height="160")
