---
layout: default
title: Inscrição
---
%ul.menu
  %li
    %a{ :href => '#procedimentos'}
      Procedimentos para inscrição
  %li
    %a{ :href => '#empenho'}
      Procedimentos de inscrição via empenho
  %li
    %a{ :href => '#desistencia'}
      Desistência e Reembolso
  %li
    %a{ :href => '#inscricao'}
      Inscrição
%hr

%h3{ :id => "procedimentos"} Procedimentos para inscrição
%p
  %ul
    %li
      %span As inscrições deverão ser efetuadas, através deste site até 26/03/10. Após esta data, somente no local do evento;
    %li
      %span Estudante de Graduação, Estudante de Pós-Graduação deverão enviar declaração de estudante para o e-mail:conag2010@ideiaseventos.com.br
    %li
      %span O pagamento de sua inscrição deverá ser feita por boleto bancário e cartões de crédito ambos através do site.
    %li
      %span As diferentes categorias e datas de pagamento devem ser observadas!
    %li
      %span Pagamento via empenho, considerar valores do dia do evento;
    %li
      %span As inscrições realizadas no dia do evento estarão condicionadas à disponibilidade de vagas.

%h3{ :id => "empenho"} Procedimento de inscrição via empenho:
%p
  %ol
    %li
      O empenho deverá conter as seguintes informações:
      %ul
        %li
          %span Nome completo do profissional que irá participar do evento;
        %li
          %span Dados da instituição pagante (nome da instituição, CNPJ, Inscrição Estadual ou Municipal, endereço, bairro, cidade, Estado e CEP);
        %li
          %span No documento é importante conter o nome, telefone e e-mail do responsável pela emissão do empenho, para contato e envio da nota fiscal via correio;
    %li
      O Empenho deverá ser enviado para a Secretaria Executiva do evento de uma das seguintes formas:
      %ul
        %li 
          %span Pelo email: conag2010@ideiaseventos.com.br
        %li 
          %span Por fax: (84) 3211-4358
        %li 
          %span Pelo correio no endereço da Idéias Eventos e Promoções LTDA.
    %li
      É importante lembrar que o empenho deverá ser enviado até o dia 25 de Março, para que as inscrições sejam liberadas no dia do evento.
    %br
    %li 
      Dados para o empenho:
      %p
        %strong Favorecido:
        II CONAG e Pomoções
        %br
        %strong CNPJ:
        00720443/0001-57
        %br
        %strong Endereço:
        Rua Desembargador Virgílio Dantas, 140 - Tirol, Natal/RN, CEP: 59020-560
        %br
        %strong Telefone:
        (84) 3211-4358
        %br
        %strong Responsável:
        Rubenita Godoy
    %li
      Dados bancários:
      %p
        %strong Banco:
        Banco do Brasil (001)
        %br
        %strong Agência:
        3293-X
        %br
        %strong Conta Corrente:
        35962-9
        %br
        %strong Cedente:
        II CONAG Promoções
    %li 
      O empenho será considerado documento definitivo para inscrição do profissional no evento. Qualquer cancelamento, solicitamos que seja comunicado à Secretaria Executiva até o segundo dia do evento, dia 07 de Abril, antes da elaboração da nota fiscal.

%h3{ :id => "desistencia" } Desistência e Reembolso
%p
  Em caso de comunicação e justificativa formal de desistência de participação, a devolução de valores pagos será efetuada até 45 dias após a realização do evento. As devoluções seguirão os seguintes critérios:

%h3{ :id => "inscricao" } Inscrição
%iframe{:src => "http://participe.de/events/ii-conag-congresso-nacional-de-gastronomia.iframe?css=http://conagnatal2010.eventos.participe.de/css/participede.css", :width => '100%', :height => '900px', :scrolling => 'no', :frameborder => "0"}
